@import "../../varibales";

.home-screen {
  height: 100%;
  background-image: url(../../assets/BGK.png);
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  &__header {
    background-color: transparent;
    height: fit-content;

    &__toolbar {
      padding: 0.4rem 5rem 0.4rem 1rem;
      height: fit-content;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.9976365546218487) 0%, rgba(0, 0, 0, 0.8155637254901961) 51%, rgba(0, 0, 0, 0.3169642857142857) 100%);
      color: $white;
      display: flex;
      justify-content: space-between;

      &__left-buttons, &__right-buttons {
        display: flex;
        align-items: center;
      }
    }

    &__logo {
      font-size: 2rem;
      height: fit-content;
      width: fit-content;
      margin-right: 1rem;

      &__img {
        height: 50px;
      }
    }

    &__title {
      font-size: 2rem;
    }

    &__button {
      font-size: 1.2rem;
      margin-right: 0.5rem;
      border-radius: 2rem;
      background-color: $marine-blue-70;

      &__connect {
        font-size: 1.2rem;
        margin-left: 2rem;
        background-color: $material-green-50;
        border-color: $white-50;
      }

      &__logout {
        font-size: 1.2rem;
        margin-left: 2rem;
        background-color: $material-red-50;
        border-color: $white-50;
      }
    }
  }

  &__body {
    color: $white;
    flex-grow: 4;
    overflow: auto;

    &__container {
      width: 100%;
      display: flex;

      &.centered {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
      }

      &.margin-top {
        margin-top: 5rem;
      }

      &__title_img {
        display: flex;
        align-items: center;
        padding: 0.6rem;
        border-radius: 2rem;
        background-color: $black;
      }

      &__title_text {
        display: flex;
        align-items: center;
        height: 4rem;
        padding: 1.2rem;
        font-weight: 500;
        text-shadow: 3px 3px $black;
        font-size: 4rem;
      }

      &__button {
        margin-top: 2rem;
        color: $white;
        padding: 2rem;
        border-radius: 2rem;
        font-size: 3rem;
        text-shadow: 2px 2px $black;

        &.register {
          background-color: $orange;
        }

        &.connect {
          background-color: $material-dark-green;
        }
      }
    }
  }
}

