@import "../../../../varibales";

.dashboard__my-questionnaires {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__container {
    width: 90%;
    display: flex;
    background-color: $sky-blue-70;

    margin-bottom: 10rem;

    &__title_text {
      display: flex;
      align-items: center;
      padding: 1.2rem;
      font-weight: 500;
      color: $white;
      text-shadow: 3px 3px $black;
      font-size: 4rem;
      line-height: 4rem;
    }

    &__table {
      width: 100%;

      &__header {
        background-color: $marine-blue;
        text-shadow: 3px 3px $black;
        color: $white;
        font-size: 1.6rem;
        font-weight: 200;
        line-height: 1.6rem;
        height: 3rem;
      }

      &__row {
        background-color: transparent;
        font-size: 1.6rem;
        font-weight: 200;
        line-height: 1.6rem;
        height: 1.9rem;

        &.light {
          background-color: $sky-blue-medium-70;
        }

        &.dark {
          background-color: $sky-blue-darker-70;
        }

        .blue {
          color: $marine-blue;
        }

        .green {
          color: cornflowerblue;
        }

        .red {
          color: $material-dark-red;
        }

        td {
          text-align: center;
        }
      }

    }
  }
}
