<mat-sidenav-container class="dashboard__body__content">
  <mat-sidenav mode="side" opened class="dashboard__body__content__nav">
    <div class="dashboard__body__content__nav__buttons">
      <button *ngIf="isLoggedIn"
              mat-stroked-button class="dashboard__body__content__nav__buttons__button"
              (click)="currentPage = DashboardContent.MainBoard">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </button>
      <button *ngIf="isLoggedIn"
              mat-stroked-button class="dashboard__body__content__nav__buttons__button"
              (click)="currentPage = DashboardContent.NewQuestionnaire">
        <mat-icon>add</mat-icon>
        <span>New questionnaire</span>
      </button>
      <button *ngIf="isLoggedIn"
              mat-stroked-button class="dashboard__body__content__nav__buttons__button"
              (click)="currentPage = DashboardContent.MainBoard">
        <mat-icon>list</mat-icon>
        <span>My questionnaires</span>
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content *ngIf="currentPage === DashboardContent.MainBoard">
    <app-dashboard-main-screen></app-dashboard-main-screen>
  </mat-sidenav-content>
  <mat-sidenav-content *ngIf="currentPage ===DashboardContent.NewQuestionnaire">
    <app-dashboard-new-questionnaire></app-dashboard-new-questionnaire>
  </mat-sidenav-content>
</mat-sidenav-container>

