<mat-sidenav-container class="dashboard__body__content">
  <mat-sidenav mode="side" opened class="dashboard__body__content__nav">
    <div class="dashboard__body__content__nav__buttons">
      <button *ngIf="isLoggedIn"
              mat-stroked-button class="dashboard__body__content__nav__buttons__button"
              (click)="router.navigate(['./dashboard/dashboard-home'])">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </button>
      <button *ngIf="isLoggedIn"
              mat-stroked-button class="dashboard__body__content__nav__buttons__button"
              (click)="router.navigate(['./dashboard/dashboard-new'])">
        <mat-icon>add</mat-icon>
        <span>New questionnaire</span>
      </button>
      <button *ngIf="isLoggedIn"
              mat-stroked-button class="dashboard__body__content__nav__buttons__button"
              (click)="router.navigate(['./dashboard/dashboard-list'])">
        <mat-icon>list</mat-icon>
        <span>My questionnaires</span>
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-container>
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</mat-sidenav-container>

