<div class="dashboard__questionnaire-stats__container">
  <div class="dashboard__questionnaire-stats__container__separate_div">
    <button mat-raised-button class="dashboard__questionnaire-stats__container__separate_div__button"
            (click)="showResponses = !showResponses">
      <mat-label> {{ showResponses ? 'Hide responses' : 'See full responses list' }}</mat-label>
    </button>
  </div>

  <div *ngIf="showResponses"
       class="dashboard__questionnaire-stats__container__separate_div_text">
    <div *ngFor="let question of questionnaireQuestions; index as i"
         class="dashboard__questionnaire-stats__container__separate_div_text__box">
      <h3 class="dashboard__questionnaire-stats__container__separate_div_text__box__title"> Question {{ i+1 }}: {{ question.Name }}</h3>
      <div *ngIf="question.answers.length === 0"
           class="dashboard__questionnaire-stats__container__separate_div_text__box__answer">
        No responses
      </div>
      <div *ngFor="let answer of question.answers; index as j"
           class="dashboard__questionnaire-stats__container__separate_div_text__box__answer">
        Answer {{j+1}}: {{ answer.AnswerName }}
      </div>
    </div>
  </div>

  <mat-card class="dashboard__questionnaire-stats__container__card">
    <mat-card-header class="dashboard__questionnaire-stats__container__card__header">
      <mat-icon mat-card-avatar>numbers</mat-icon>
      <mat-card-title>Gender distribution</mat-card-title>
      <mat-card-subtitle>Responses based on the gender</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="dashboard__questionnaire-stats__container__card__content">
      <div *ngIf="!isValidGender()"
           class="dashboard__questionnaire-stats__container__card__content__medium-text">No data</div>
      <ngx-charts-pie-chart *ngIf="isValidGender()" class="dashboard__questionnaire-stats__container__card__content__chart"
        [results]="genderStatistics"
        [legend]="false"
        [legendTitle]="'Gender response chart'"
        [view]="[500,300]"
        [labels]="true" >
      </ngx-charts-pie-chart>
    </mat-card-content>
  </mat-card>

  <mat-card class="dashboard__questionnaire-stats__container__card">
    <mat-card-header class="dashboard__questionnaire-stats__container__card__header">
      <mat-icon mat-card-avatar>numbers</mat-icon>
      <mat-card-title>Age distribution</mat-card-title>
      <mat-card-subtitle>Responses based on the age</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="dashboard__questionnaire-stats__container__card__content">
      <div *ngIf="!isValidAge()"
           class="dashboard__questionnaire-stats__container__card__content__medium-text">No data</div>
      <ngx-charts-pie-chart *ngIf="isValidAge()" class="dashboard__questionnaire-stats__container__card__content__chart"
        [results]="ageStatistics"
        [legend]="false"
        [legendTitle]="'Age response chart'"
        [view]="[500,300]"
        [labels]="true" >
      </ngx-charts-pie-chart>
    </mat-card-content>
  </mat-card>

  <mat-card class="dashboard__questionnaire-stats__container__card">
    <mat-card-header class="dashboard__questionnaire-stats__container__card__header">
      <mat-icon mat-card-avatar>numbers</mat-icon>
      <mat-card-title>Urbanism distribution</mat-card-title>
      <mat-card-subtitle>Responses based on the urbanism</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="dashboard__questionnaire-stats__container__card__content">
      <div *ngIf="!isValidUrbanism()"
           class="dashboard__questionnaire-stats__container__card__content__medium-text">No data</div>
      <ngx-charts-pie-chart *ngIf="isValidUrbanism()"
                            class="dashboard__questionnaire-stats__container__card__content__chart"
        [results]="urbanismStatistics"
        [legend]="false"
        [legendTitle]="'Urbanism response chart'"
        [view]="[500,300]"
        [labels]="true" >
      </ngx-charts-pie-chart>
    </mat-card-content>
  </mat-card>

  <mat-card class="dashboard__questionnaire-stats__container__card">
    <mat-card-header class="dashboard__questionnaire-stats__container__card__header">
      <mat-icon mat-card-avatar>numbers</mat-icon>
      <mat-card-title>Occupation distribution</mat-card-title>
      <mat-card-subtitle>Responses based on the occupation</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="dashboard__questionnaire-stats__container__card__content">
      <div *ngIf="occupationStatistics.length === 0"
           class="dashboard__questionnaire-stats__container__card__content__medium-text">No data</div>
      <ngx-charts-pie-chart *ngIf="occupationStatistics.length !== 0"
                            class="dashboard__questionnaire-stats__container__card__content__chart"
        [results]="occupationStatistics"
        [legend]="false"
        [legendTitle]="'Gender response chart'"
        [view]="[500,300]"
        [labels]="true" >
      </ngx-charts-pie-chart>
    </mat-card-content>
  </mat-card>
</div>
